body {font-family:Montserrat;}
header{
	font-size: 30px;
	text-align:left;
	height: 140px;
	border-radius: 10px;
	position: relative;
	-moz-box-shadow:    10px 10px 15px 6px #ccc;
	-webkit-box-shadow: 10px 10px 15px 6px #ccc;
	box-shadow:         10px 10px 15px 6px #ccc;

}
header p {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
footer{
	-moz-box-shadow:    10px 10px 15px 6px #ccc;
	-webkit-box-shadow: 10px 10px 15px 6px #ccc;
	box-shadow:         10px 10px 15px 6px #ccc;
	border-radius: 10px;
	display: inline-block;
	position: relative;
  	bottom: 0;
}
input{
	padding: 12px;
	overflow-wrap: normal;
	position: relative;
	min-height: 50px;
	width: 80%;
	margin: 10px;
	text-align: center;
	display: inline-block;
}
.sortable{
	list-style-type: none;
	margin:0; padding:2px;
	min-height:500px;
}
.sortable li{
	margin: 16px;
	font-size: 1.4em;
	height: fit-content;
}
.sortable li span {
	position: absolute;
}
.left-button{
	position:absolute;
	left: -1px;
	top: 50px;
	border-radius: 100%;
    opacity: 40%;
}
.right-button{
	position:absolute;
	right: -1px;
	top:50px;
	border-radius: 100%;
    opacity: 40%;
}
.delete-button{
	position:absolute;
	background: red;
	color: white;
	top: -1px;
	right: -1px;
	color: #fff;
	visibility: hidden;
}
.task:hover{
	transition: all .2s ease-in-out;
	transform: scale(1.1);
	border: 2px;
	border-style: solid;
	border-color: red;
}
.task:hover .delete-button{
	visibility: unset;
}
.task:hover .left-button{
	transition: all .2s ease-in-out;
	transform: translateX(80%);
}
.task:hover .right-button{
	transition: all .2s ease-in-out;
	transform: translateX(-80%);
}
.task{
	position: relative;
	background-color:white;
	border-radius: 10px;
	text-align: center;
	-moz-box-shadow: 	4px 4px 6px 0px rgb(37, 37, 37);
	-webkit-box-shadow: 4px 4px 6px 0px rgb(37, 37, 37);
	box-shadow: 		4px 4px 6px 0px rgb(37, 37, 37);
}
.task .taskinput{
	padding: 12px;
	overflow-wrap: normal;
	position: relative;
	min-height: 50px;
	width: 80%;
	margin: 10px;
	text-align: center;
	display: inline-block;
}
.container {
	width: 30%;
	height:auto;
	float:left;
	clear: right;
	margin-left:20px;
	border-radius: 10px;
}
.container-head {
	position: relative;
	text-align: center;
	color: white;
	border-radius: 10px;
	margin-bottom: 20px;
	height: 50px;
}
.container-head h2{
	position: relative;
	top: 25%;
}
.container-body {
	min-height: 500px;
	max-height: 500px;
	scroll-behavior: auto;
	overflow: scroll;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.container-foot {
	height: 50px;
	scroll-behavior: auto;
	overflow: scroll;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	text-align: center;
}
#backlog .left-button{
	visibility: hidden;
}
#complete .right-button{
	visibility: hidden;
}
.update-button{
	visibility: hidden;
	display: inline-block;
}
.show-button{
	margin-top: 20px;
	display: inline-block;
	border: none;
	background-color: rgba(255, 255, 255, 0);
}
#creation{
	border: 5px solid red;
	display:none;
	height: 130px;
}
p#time{
	float: left;
	font-size: 12px;
	margin: 5px;
}
p#user{
	float: right;
	font-size: 12px;
	margin: 5px;
}
.add-button{
	float: right;
    color: white;
    font-size: 12px;
    margin-right: 10px;
    border-style: none;
    border-radius: 10px;
    background-color: #0066FF;
    padding: 5px;
}